<a href="https://colab.research.google.com/github/AnushkaChoudhary4/AnushkaChoudhary4/blob/main/mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 24.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [3]:
!sudo apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.

In [4]:
!sudo service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [25]:
!mysql -e "CREATE TABLE IF NOT EXISTS mysql.books(title varchar(255)not null,author varchar(255));"

In [27]:
!mysql -e "insert into mysql.books(title,author) values('pihu','anushka');"

In [28]:
!mysql -e "select*from mysql.books;"

+-------+---------+
| title | author  |
+-------+---------+
| pihu  | anushka |
+-------+---------+