<a href="https://colab.research.google.com/github/AnushkaChoudhary4/AnushkaChoudhary4/blob/main/panads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 74.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [2]:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 32 not upgraded.
Need to get 29.4 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [2,692 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [17.5 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.36-0ubuntu0.22.04.1 [9,460 B]
Fetched 29.4 MB in 2s (18.0 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 121749 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.36-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.36-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.36-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 770
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.36-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

In [3]:
!sudo service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [4]:
!sudo service mysql status

 * /usr/bin/mysqladmin  Ver 8.0.36-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.36-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			18 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 0.444

In [5]:
import mysql.connector
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")
cursor.execute("USE library")
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')
books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)
cursor.execute("SELECT * FROM books")
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
conn.commit()
cursor.close()
conn.close()

In [6]:
! pip install pandas
import mysql.connector
import pandas as pd
from tabulate import tabulate

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
# Print the records
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
vr=pd.DataFrame(dtyr)
print(tabulate(vr, headers='keys', tablefmt='psql'))
# Close the cursor and connection
cursor.close()
conn.close()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
+----+------+-----------------------+---------------------+--------+
|    |   id | titles                | author              |   year |
|----+------+-----------------------+---------------------+--------|
|  0 |    1 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  1 |    2 | 1984                  | George Orwell       |   1949 |
|  2 |    3 | The Great Gatsby      | F. Scott Fitzgerald |   1925 |
+----+------+-----------------------+---------------------+--------+

In [12]:
! pip install pandas
import mysql.connector
import pandas as pd
from tabulate import tabulate

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
# Print the records
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
vr=pd.DataFrame(dtyr)
new_df = vr.dropna(thresh=2)



print(tabulate(vr, headers='keys', tablefmt='psql'))
# Close the cursor and connection
cursor.close()
conn.close()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
+----+------+-----------------------+---------------------+--------+
|    |   id | titles                | author              |   year |
|----+------+-----------------------+---------------------+--------|
|  0 |    1 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  1 |    2 | 1984                  | George Orwell       |   1949 |
|  2 |    3 | The Great Gatsby      | F. Scott Fitzgerald |   1925 |
+----+------+-----------------------+---------------------+--------+

In [15]:
import mysql.connector
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")
cursor.execute("USE library")
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')
books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "",2345)
]
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)
cursor.execute("SELECT * FROM books")
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
conn.commit()
cursor.close()
conn.close()

In [16]:
! pip install pandas
import mysql.connector
import pandas as pd
from tabulate import tabulate

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
# Print the records
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
vr=pd.DataFrame(dtyr)
print(tabulate(vr, headers='keys', tablefmt='psql'))
# Close the cursor and connection
cursor.close()
conn.close()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
+----+------+-----------------------+---------------------+--------+
|    |   id | titles                | author              |   year |
|----+------+-----------------------+---------------------+--------|
|  0 |    1 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  1 |    2 | 1984                  | George Orwell       |   1949 |
|  2 |    3 | The Great Gatsby      | F. Scott Fitzgerald |   1925 |
|  3 |    4 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  4 |    5 | 1984                  | George Orwell       |   1949 |
|  5 |    6 | The Great Gatsby      |                     |   2345 |
+----+------+-----------------------+---------------------+--------+

In [26]:
! pip install pandas
import mysql.connector
import pandas as pd
from tabulate import tabulate

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
# Print the records
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
vr=pd.DataFrame(dtyr)
new_df = vr.dropna()
print(new_df)
print(tabulate(new_df, headers='keys', tablefmt='psql'))
# Close the cursor and connection
cursor.close()
conn.close()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
   id                 titles               author  year
0   1  To Kill a Mockingbird           Harper Lee  1960
1   2                   1984        George Orwell  1949
2   3       The Great Gatsby  F. Scott Fitzgerald  1925
3   4  To Kill a Mockingbird           Harper Lee  1960
4   5                   1984        George Orwell  1949
5   6       The Great Gatsby                       2345
+----+------+-----------------------+---------------------+--------+
|    |   id | titles                | author              |   year |
|----+------+-----------------------+---------------------+--------|
|  0 |    1 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  1 |    2 | 1984                  | George Orwell       |   1949 |
|  2 |    3 | The Great Gatsby      | F. Scott Fitzgerald |   1925 |
|  3 |    4 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  4 |    5 | 1984                  | George Orwell       |   1949 |
|  5 |    6 | The Great Gatsby      |                     |   2345 |
+----+------+-----------------------+---------------------+--------+

In [27]:
import mysql.connector
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")
cursor.execute("USE library")
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')
books_data = [
    ("NaN", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "NaN",2345)
]
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)
cursor.execute("SELECT * FROM books")
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
conn.commit()
cursor.close()
conn.close()

In [28]:
! pip install pandas
import mysql.connector
import pandas as pd
from tabulate import tabulate

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
# Print the records
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}
vr=pd.DataFrame(dtyr)
print(tabulate(vr, headers='keys', tablefmt='psql'))
# Close the cursor and connection
cursor.close()
conn.close()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
+----+------+-----------------------+---------------------+--------+
|    |   id | titles                | author              |   year |
|----+------+-----------------------+---------------------+--------|
|  0 |    1 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  1 |    2 | 1984                  | George Orwell       |   1949 |
|  2 |    3 | The Great Gatsby      | F. Scott Fitzgerald |   1925 |
|  3 |    4 | To Kill a Mockingbird | Harper Lee          |   1960 |
|  4 |    5 | 1984                  | George Orwell       |   1949 |
|  5 |    6 | The Great Gatsby      |                     |   2345 |
|  6 |    7 | NaN                   | Harper Lee          |   1960 |
|  7 |    8 | 1984                  | George Orwell       |   1949 |
|  8 |    9 | The Great Gatsby      | NaN                 |   2345 |
+----+------+-----------------------+---------------------+--------+

In [48]:
! pip install pandas
import mysql.connector
import pandas as pd
from tabulate import tabulate

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()
ids=[]
title=[]
author=[]
year=[]
# Print the records
for record in records:
    ids.append(record[0])
    title.append(record[1])
    author.append(record[2])
    year.append(record[3])

dtyr={
    "id":ids,
    "titles":title,
    "author":author,
    "year":year
}

vr=pd.DataFrame(dtyr)
vr_filtered = vr [(vr['title'] !='')]
new_df = vr.dropna(subset=['title'],inplace=False)
print(new_df)
print(vr_filtered)
print(tabulate(new_df, headers='keys', tablefmt='psql'))
# Close the cursor and connection
cursor.close()
conn.close()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

KeyError: 'title'