<a href="https://colab.research.google.com/github/AnushkaChoudhary4/AnushkaChoudhary4/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thisset = {"book", "number", "wait"}
print(thisset)

{'book', 'wait', 'number'}

In [4]:
thisset = {"book", "number", "wait"}
print  (type(thisset))

<class 'set'>

In [8]:
thisset = {"book", "number", "wait"}
for x in thisset:
  print(x)

book
wait
number

In [24]:
thisset = {"book", "number", "wait"}
thisset.add("pihu")
thisset.remove("pihu")
thisset.discard("kanu")
thisset.add("pihu")
print(thisset)

{'book', 'wait', 'pihu', 'number'}

In [28]:
thisset = {"book", "number", "wait"}
thisset.pop()

'book'

In [35]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()

print(id(fruits))

139078166627040

In [50]:
fruits = {"apple", "banana", "cherry"}
del
print()

In [12]:
set={"pihu","anu"}
set1={"mango"}
set.update(set1)
print(set)

{'anu', 'mango', 'pihu'}

In [40]:
set={"pihu","anu"}
set1={"mango"}
set.union(set1)
print(set)

{'anu', 'pihu'}

In [47]:
set={"pihu","anu"}
set1={"mango"}
set.intersection_update()
print(set)

{'anu', 'pihu'}